{% load static %} {# 1. Carrega a tag de arquivos estáticos no topo do arquivo #}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock %}

    <title>{% block titulo %}FamaPet{% endblock %}</title>

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon.svg' %}">

    <!-- Estilos CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontes.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body {% block body_attrs %}{% endblock %}>

    {% block corpo %}
    {% endblock %}

    <!-- Scripts JavaScript -->
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>